<a href="https://colab.research.google.com/github/sampath0-code/Datasets/blob/master/FBS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Questions

1. If you have the following list

  lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

   col = [‘Age’,’Nationality’,’Overall’]

  How do you create a pandas DataFrame using this list, to look like the table 
  below?


2. 
Given the following numpy array 
array  = ([[94, 89, 63], [93, 92, 48], [92, 94, 56]])

  How would you select  the elements in bold and italics from the array?


3. Which of the following is a python inbuilt module?


4. 
How would you check for the number of rows and columns in a pandas DataFrame named df?


5. What would be the output for?
     
     S = [['him', 'sell'], [90, 28, 43]]
     S[0][1][1]


6. Given the following python code, what would the output of the code give?

      my_tuppy = (1,2,5,8)

      my_tuppy[2] = 6
7. Consider the following list of tuples:

    y = [(2, 4), (7, 8), (1, 5, 9)]

    How would you assign element 8 from the list to a variable x?

8. Which of these python data structures is unorderly?


9. A pandas Dataframe with dimensions (100,3) has how many features and     
observations?

10. Which of the following dataframe methods can be used to access elements across rows and columns?

11. 
Answer the following questions based on the African food production dataset provided by the FAO website already provided

   What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

   Hint:

   Perform a groupby sum aggregation on ‘Item’

12. What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places? 



13. What is the total number and percentage of missing data in 2016 to 2 decimal places?



14. Which year had the highest correlation with ‘Element Code’? 


15. What year has the highest sum of Import Quantity?

     Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question


16. What is the total number of the sum of Production in 2014?

   Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question



17. Which of these elements had the highest sum in 2018?

    Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.



18. Which of these elements had the 3rd lowest sum in 2018?
    
    Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question. 



19. What is the total Import Quantity in Algeria in 2018?




20. What is the total number of unique countries in the dataset?

In [110]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [111]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding=('ISO-8859-1'),low_memory= False)

In [112]:
df.head()

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

1. If you have the following list

   lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

   col = [‘Age’,’Nationality’,’Overall’]

    How do you create a pandas DataFrame using this list, to look like the table below?

In [113]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [114]:
data = pd.DataFrame(lst,columns = col)

In [115]:
data = pd.DataFrame(lst,columns = ['Age','Nationality','Overall'])

2. Given the following numpy array array = ([[94, 89, 63], [93, 92, 48], [92, 94, 56]])

  How would you select the elements in bold and italics from the array?

In [116]:
array = ([[94, 89, 63], 
          [93, 92, 48], 
          [92, 94, 56]])

In [117]:
array[:2][0:]

[[94, 89, 63], [93, 92, 48]]

3. Which of the following is a python inbuilt module?

  Math

    Seaborn

    Matplotlib

    Pandas

  Ans: Math

4. How would you check for the number of rows and columns in a pandas DataFrame named df?

In [118]:
df.shape

(60943, 12)

5.  What would be the output for?

 S = [['him', 'sell'], [90, 28, 43]] S[0][1][1]

In [119]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

6. Given the following python code, what would the output of the code give?

  my_tuppy = (1,2,5,8)

  my_tuppy[2] = 6
  
  Ans: Type error

In [120]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored

7. 
Consider the following list of tuples:

   y = [(2, 4), (7, 8), (1, 5, 9)]

   How would you assign element 8 from the list to a variable x?

In [121]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][-1]
print(x)
x = y[1][1]
print(x)

8
8

9. 
 A pandas Dataframe with dimensions (100,3) has how many features and         
  observations?

Options

3 features, 100 observations

A pandas dataframe has no attribute feature or observation.

100 features, 3 observations.

100 rows and 3 observations.

Ans: 3 features, 100 observations

10. Which of the following dataframe methods can be used to access elements across rows and columns?

Options

df.loc( : )

df.iloc[ : ] 

df.iloc( )

c and d

df.loc( )

Ans : df.iloc[ : ]

11. 
Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

341432.12 and 331245.67

213450.34 and 35617.22

332319.31 and 125467.80

209460.54 and 269617.53

Ans: 209460.54 and 269617.53

In [122]:
new_df = df.groupby(df['Item'])

In [123]:
new_df.get_group('Animal fats').sum()

Area Code                                                   85279
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                 1882494
Item            Animal fatsAnimal fatsAnimal fatsAnimal fatsAn...
Element Code                                              2567303
Element         ProductionImport QuantityStock VariationExport...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                      209461
Y2015                                                      200676
Y2016                                                      183314
Y2017                                                      269618
Y2018                                                      269648
dtype: object

12. What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

Options
10.60 and 17.01

135.236 and 1603.404

8.

10.60 and 8.49

5.76 and 10.60

Ans : 135.236 and 1603.404

In [124]:
df.describe()

          Area Code     Item Code  ...          Y2017          Y2018
count  60943.000000  60943.000000  ...   59437.000000   59507.000000
mean     134.265576   2687.176706  ...     140.917765     143.758381
std       72.605709    146.055739  ...    1671.862359    1710.782658
min        4.000000   2501.000000  ...   -1582.000000   -3396.000000
25%       74.000000   2562.000000  ...       0.000000       0.000000
50%      136.000000   2630.000000  ...       0.100000       0.070000
75%      195.000000   2775.000000  ...       9.000000       9.000000
max      276.000000   2961.000000  ...  190873.000000  195875.000000

[8 rows x 8 columns]

13. What is the total number and percentage of missing data in 2016 to 2 decimal places?

Ans: 1535,2.512

In [125]:
df['Y2016'].isnull().sum()

1535

In [126]:
df['Y2016'].value_counts()

0.00       25962
1.00        2606
2.00        1447
3.00        1030
0.01         964
           ...
29.64          1
9733.00        1
14.86          1
3457.00        1
23.81          1
Name: Y2016, Length: 4520, dtype: int64

In [127]:
percent_missing = df.isnull(). sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
'percent_missing': percent_missing})

In [128]:
print(missing_value_df)

               column_name  percent_missing
Area Code        Area Code         0.000000
Area                  Area         0.000000
Item Code        Item Code         0.000000
Item                  Item         0.000000
Element Code  Element Code         0.000000
Element            Element         0.000000
Unit                  Unit         0.000000
Y2014                Y2014         2.607354
Y2015                Y2015         2.540078
Y2016                Y2016         2.518747
Y2017                Y2017         2.471162
Y2018                Y2018         2.356300

14. Which year had the highest correlation with ‘Element Code’? 

Ans: 2016

In [129]:
col_1 =df['Area Code']
col_2 = df['Y2014']
col_3 = df['Y2015']
col_4 = df['Y2016']
col_5 = df['Y2017']

In [130]:
print(col_1.corr(col_2))
print(col_1.corr(col_3))
print(col_1.corr(col_4))
print(col_1.corr(col_5))

0.00616411022492453
0.005471656288553302
0.005247136292532044
0.0050057809954666705

15. What year has the highest sum of Import Quantity?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

Ans : 2017

In [131]:
new_df = df.groupby('Element')

In [132]:
new_df.get_group('Import Quantity').sum()

Area Code                                                  688174
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                13795966
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             28834929
Element         Import QuantityImport QuantityImport QuantityI...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                      274144
Y2015                                                      267018
Y2016                                                      286583
Y2017                                                      294559
Y2018                                                      287997
dtype: object

16. What is the total number of the sum of Production in 2014?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

Ans: 1931287.75

In [133]:
group1 = df.groupby('Element')
group1.get_group('Production').sum()

Area Code                                                  526751
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                10450053
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             21388191
Element         ProductionProductionProductionProductionProduc...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                 1.93129e+06
Y2015                                                 1.94702e+06
Y2016                                                 1.94354e+06
Y2017                                                 2.03006e+06
Y2018                                                 2.07507e+06
dtype: object

17. Which of these elements had the highest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

Ans : Domestic supply quantity

In [134]:
new_dataframe = df[['Element','Y2018']]

In [135]:
highest_sum = new_dataframe.groupby('Element').sum();

In [136]:
#highest_sum.idxmax()
highest_sum.nlargest(1,['Y2018'])

                              Y2018
Element
Domestic supply quantity  2161192.1

In [137]:
highest_sum

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

18. 
Which of these elements had the 3rd lowest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.  

Ans: Protein supply quantity (g/capita/day)

In [138]:
new_dataframe = df[['Element','Y2018']]

In [139]:
highest_sum = new_dataframe.groupby('Element').sum();

In [140]:

highest_sum.nsmallest(3, ['Y2018'])

                                           Y2018
Element
Tourist consumption                        90.00
Fat supply quantity (g/capita/day)      10258.69
Protein supply quantity (g/capita/day)  11833.56


19. What is the total Import Quantity in Algeria in 2018?

Ans: 36238.3

In [141]:
df.head()

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

In [142]:
df['Element'].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

In [143]:
new_df = df[['Area','Element','Y2018']]

In [144]:
new_group = new_df.groupby('Area')

In [145]:
Algeria = new_group.get_group('Algeria')

In [146]:
Algeria

         Area                                 Element     Y2018
0     Algeria           Total Population - Both sexes  42228.00
1     Algeria                Domestic supply quantity      0.00
2     Algeria           Food supply (kcal/capita/day)   3322.00
3     Algeria  Protein supply quantity (g/capita/day)     91.83
4     Algeria      Fat supply quantity (g/capita/day)     77.28
...       ...                                     ...       ...
1308  Algeria                                    Food     82.00
1309  Algeria     Food supply quantity (kg/capita/yr)      1.93
1310  Algeria           Food supply (kcal/capita/day)      2.00
1311  Algeria  Protein supply quantity (g/capita/day)      0.06
1312  Algeria      Fat supply quantity (g/capita/day)      0.03

[1313 rows x 3 columns]

In [147]:
Algeria.loc[(Algeria['Element'] == 'Import Quantity')].sum()

Area       AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Element    Import QuantityImport QuantityImport QuantityI...
Y2018                                                36238.3
dtype: object

20. What is the total number of unique countries in the dataset?

 49

In [148]:
countries = df['Area'].unique()

In [149]:
len(list)

49

In [150]:
! git init

Initialized empty Git repository in /content/.git/

In [151]:
! pwd

/content

In [153]:
%cd /content/drive/MyDrive/Colab Notebooks/

/content/drive/MyDrive/Colab Notebooks

In [154]:
! git status

fatal: not a git repository (or any parent up to mount point /content)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

In [155]:
! git remote -v

fatal: not a git repository (or any parent up to mount point /content)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).